<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            

<div class="col-md-12 row">
     <img   src="../../assets/images/PNG/third.png" />
<div id="bottom" class="card card-container">
<div class="bottom">

        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
        
        <h2 class="title2">Réinitialiser le mot de passe</h2>
          <div class="form-group">
            <div class="input-field">
              <i class="fa fa-lock" aria-hidden="true"></i>
              
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                placeholder="Mot de passe "
              /></div>
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Mot de passe est obligatoire!</div>
                <div *ngIf="password.errors.minlength">
                  Le mot de passe doit contenir au moins 6 caractères!
                </div>
              </div>
          </div>


          <div class="form-group">
            <div class="input-field">
              <i class="fa fa-lock" aria-hidden="true"></i>

              <input
                type="password"
                class="form-control"
                name="confirmPassword"
                id="confirmPassword"
                [(ngModel)]="form.confirmPassword"
                required
                minlength="6"
                #confirmPassword="ngModel"
                placeholder="Confirmer le mot de passe"
              /></div>
              <!--
              <div class="alert-danger" *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched) ">
              
                <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                <div [class.d-none]="(password.value==confirmPassword.value)">
                  Passwords don't match
                </div>
              </div>
              -->
              <div class="alert-danger" *ngIf="(confirmPassword.errors && f.submitted )|| (password.value!=confirmPassword.value && f.submitted)">
                <div *ngIf="confirmPassword.errors?.required">Confirmation du mot de passe est obligatoire!</div>
                <div *ngIf="(password.value!=confirmPassword.value)">
                  pas de correspondence entre les mots de passe!
                </div>
              </div>
            </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" >
              Réinitialiser
            
            </button>
          </div>
    
          <div class="alert alert-warning" *ngIf="f.submitted && isResetFailed"
          [hidden]="!reset"
          >
            Erreur!<br />{{ errorMessage }}
          </div>

          <div class="alert alert-success" *ngIf="f.submitted &&  (isResetFailed==false)  ">
            Mot de passe réinitialisé avec succée!
          </div>
        
        </form>
        <!--
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        réinitialisation fait avec succée!
      </div>
      -->
    </div>
  </div>
  </div>
 

  
  
  