.row{
  margin: 5% 12%;
  height: auto;
  width: auto;
  display: flex;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px ;
  border-radius: 20px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #fffbfb;
  border: 1px solid rgba(0,0,0,.125);
}


.card-container.card {
max-width: 500px !important;
padding: 60px 40px 10px 40px;
float: left;
width: 50%;
border-radius: 20px;
border: none;
}
.mat-dialog-container{
  padding: 0%;
}


.card {
  background-color: #fffbfb;
  flex-direction: none;

}

.row img{
  border-radius: 10px;
  height: 100%;
  width: 50%;
}
.col-md-12{
  padding: 0%;
}
.mat-body, .mat-body-1, .mat-typography h2{
  text-align: center ;
  font-weight: 700;
  font-size: 35px;
  padding: 25px;
}
.form-control{
  width: 100%;
  height: 45px;
  outline: none;
  background: none;
  border: none;
  justify-self: center;
}
.input-field{
  padding: 0px 45px;
  width: 100%;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 50px;
  position: relative;
  grid-template-columns: 35% 65%;
}
.input-field i{
  color: #8d8d8d;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
}
.input-field input:placeholder-shown{
  font-weight: 400;
  color: #707070;

}
.btn{
  width: 50%;
  height: 55px;
  border-radius: 50px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #05a7a7;
  border: #05a7a7;
}


.title2{
  text-align: center ;
  font-weight: 700;
  font-size: 35px;
  padding: 25px;
  margin-bottom: 50px;
}