<mat-toolbar>
    <span>Gestion Couverture</span>
    <span class="example-spacer"></span>
    <button mat-raised-button id="greenbuttom" (click)="open(content)" >Ajouter Couverture</button>
</mat-toolbar> 


<div class="container">
  <div style="margin-top:10px;">
    <mat-form-field appearance="standard">
      <mat-label>chercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef>Traitement </th>
            <td mat-cell *matCellDef="let element"> {{element.op}} </td>
        </ng-container>

        <ng-container matColumnDef="prog">
            <th mat-header-cell *matHeaderCellDef> Programme </th>
            <td mat-cell *matCellDef="let element"> {{element.prog}} </td>
        </ng-container> -->
      
        <!-- Name Column -->
        <ng-container matColumnDef="valeur">
          <th mat-header-cell *matHeaderCellDef> Couverture </th>
          <td mat-cell *matCellDef="let element"> {{element.valeur}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element" >
            
            <button mat-icon-button color="primary" type="submit" (click)="openEdit(contentEdit,element)"  > 
             
              <mat-icon>edit</mat-icon>
              
            </button>
    
            <button mat-icon-button color="warn" (click)="openDelete(contentDelete, element)" > 
             
             
              <mat-icon>delete</mat-icon>
              
            </button>
           
          </td>
        </ng-container>
      
       
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Pas de données correspondants aux filtres "{{input.value}}"</td>
        </tr>
    
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
        
    
  </div>
</div>



<ng-template #content let-c="close" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter une Couverture</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="couvertureDetail">
     <!--
        <div class="mb-3">
            <label for="name" class="form-label" style="padding-left:10px;padding-top: 10px;" class="change-font2">Traitement</label>
            <input required type="text" formControlName="op" class="form-control"  >
        </div> 

        <div class="mb-3">
            <label for="name" class="form-label" style="padding-left:10px;padding-top: 10px;" class="change-font2">Programme</label>
            <input required type="text" formControlName="prog" class="form-control"  >
        </div> -->

      <div class="mb-3">
        <label for="name" class="form-label" style="padding-left:10px;padding-top: 10px;" class="change-font2">Couverture</label>
        <input required type="text" formControlName="valeur" class="form-control"  >
      </div>
      
      
        <div  class="modal-footer" >
          <div mat-dialog-actions [align]="'end'">
            <button style="margin-right: 3px;background-color: #05a7a7;" data-dismiss="modal" mat-raised-button color="primary"(click)="addCouverture()">Enregistrer</button>
            <button mat-raised-button color="warn" (click)="modal.close('Save click')">Annuler</button>
          </div>
        </div>
        
         
      
    </form>
  </div>
 
</ng-template>


<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Editer Couverture</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
<!--
        <div class="form-group">
            <label for="name">Traitement</label>
            <div class="input-group">
              <input formControlName="op" class="form-control" >
            </div>
        </div>

        <div class="form-group">
            <label for="name">Programme</label>
            <div class="input-group">
              <input formControlName="prog" class="form-control" >
            </div>
        </div> -->
    
      <div class="form-group">
        <label for="valeur">Couverture</label>
        <div class="input-group">
          <input formControlName="valeur" class="form-control" >
        </div>
      </div>

     
      
     
     
     
    </form>
  </div>
  <div  class="modal-footer" >
    <div mat-dialog-actions [align]="'end'">
      <button style="margin-right: 3px;background-color: #05a7a7;" data-dismiss="modal" mat-raised-button color="primary"  (click)="onSaveCouverture()" >Enregistrer</button>
      <button mat-raised-button color="warn" (click)="modal.close('Save click')">Annuler</button>
    </div>
  </div>
  
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation de la suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Êtes-vous sûr de vouloir supprimer cette Couverture?</h2>
    <div class="modal-footer">
      <button style="margin-right: 3px;background-color: #05a7a7;" data-dismiss="modal" mat-raised-button color="primary"  (click)="onDeleteCouverture()"
      >Oui, Supprimer!</button> 
  
    <button type="button" mat-raised-button color="warn" (click)="modal.close('Save click')">Annuler</button>
  </div>    </div>

</ng-template>

