:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

mat-drawer{
    width: 14.5%;
   /*  margin: 20px;*/
   /* margin-top: 40px;*/
   padding: 12px;
  /* background-color: rgb(4, 64, 148);*/
   
  background-color: rgb(240, 242, 251);
 

    border-radius: 2px;
}
mat-drawer-container{
    height:100%;


    /*background-color: rgb(240, 242, 251);*/
    
  /*  background-color: rgb(30, 64, 112);*/
  background-color: white;
}
app-footer .mat-divider {
    display: none;
}

mat-drawer-content{
    overflow: unset;
}